* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: url('C:\Users\rishu\OneDrive\Desktop\college\Sem 4\ADA\website\ocean-3605547__340.webp') no-repeat center center fixed;
    background-size: cover;
  }
  
  .title-bar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .title {
    font-family: Papyrus, fantasy;
    font-size: 26px;
    margin: 0.5em 1em;
  }
  
  .navigation {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    width: 10%;
    overflow-y: auto;
    z-index: 1;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0.5em 0;
    padding: 0 1em;
  }
  
  nav a {
    color: #fff;
    display: block;
    font-size: 1.2em;
    padding: 0.5em 0;
    text-decoration: none;
  }
  
  main {
    margin: 2em 0 0 150px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2em;
  }
  
  .btn {
    background-color: #333;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 1.2em;
    padding: 1em 2em;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    margin-top: 2em; 
  }
  
  .btn:hover {
    background-color: #666;
    cursor: pointer;
  }
  
  footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 1em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 10%;
    z-index: 1;
  }
  .show-more {
    display: block;
    margin-top: 20px;
    text-align: right;
    text-decoration: none;
    font-size: 16px;
    color: #000;
  }
  
  .show-more:hover {
    color: #888;
  }
  .nav {
    float: left;
    width: 20%;
    margin-right: 20px;
  }
  
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: space-between;
    margin-left: 11%;
  }
  
  .grid {
    width: calc(33.33% - 20px);
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  
  .grid:last-child {
    margin-right: 0;
  }
  
  .grid h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .show-more {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  
  @media only screen and (max-width: 768px) {
    .grid {
      width: 100%;
      margin-right: 0;
    }
  }
  button#theme-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
  }
  
  .dark-mode {
    background-color: #222;
    color: #fff;
  }
  
 